<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome to RPSSL!{% endblock %}</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href='{{ asset("rpssl/web/favicon.png") }}' rel='icon' type='image/png'>

        <link rel="stylesheet" href="{{ asset('rpssl/web/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('rpssl/web/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('rpssl/web/css/app.css') }}">

        <style>

            .user{background-color: #5a9;}
            .other{background-color: #a95;}
            .cat{background-color: #ccc;}

        </style>

        {% block stylesheets %}{% endblock %}

    </head>
    <body>


            {% include 'comps/header.html.twig' %}
        <div class="container">

            {% block body %}{% endblock %}



            {% include 'comps/footer.html.twig' %}


            <script src="{{ asset('rpssl/web/js/jquery.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('rpssl/web/js/bootstrap.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('rpssl/web/js/app.js') }}" type="text/javascript"></script>
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
