{# extends 'base.html.twig' %}

{% block title %}
    RPSSL History
{% endblock #}

{% block body %}
    <h1>Rounds list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Useraction</th>
                <th>Randomaction</th>
                <th>Winner</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for round in rounds %}
            <tr>
                <td><a href="{{ path('round_show', { 'id': round.id }) }}">{{ round.id }}</a></td>
                <td>{{ round.userAction }}</td>
                <td>{{ round.randomAction }}</td>
                <td>{{ round.winner }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('round_show', { 'id': round.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('round_edit', { 'id': round.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('round_new') }}">Create a new round</a>
        </li>
    </ul>
{% endblock %}
