<div class='footer navbar-fixed-bottom navbar-inverse'>
    <div class='container'>
        <div class='row '>
            <div class='col-sm-4 col-xs-6'>
                <h4>RPSSL</h4>
                <p><i>Bringing randomness to you!</p>
            </div>

            <div class='col-sm-2 col-md-offset-1 col-xs-6'>
                <h4>{{userWins}} / {{total}} User Wins</h4>
            </div>

            <div class="visible-xs clearfix"></div>

            <div class='col-sm-2 col-xs-6'>
                <h4>{{userLoses}} / {{total}} User Losses</h4>
            </div>

            <div class='col-sm-4 col-md-offset-1 col-xs-6'>
                <h4>{{draws}} / {{total}} Draws</h4>
            </div>
        </div>
    </div>
</div>